* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .botones {
    margin-top: 20px;
    width: 30%;
    min-width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    height: 100vh;
  }
  
  .botones button {
    margin: 10px;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .imagenes {
    width: 70%;
    min-width: 500px;
    background-color: #e6e6e6;
    padding: 20px;
    height: 100vh;
    overflow-y: scroll;
    }
    
    .contenedor-imagenes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    }
    
    .contenedor-imagenes img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    }
  