<section class="h-100">
    <div class="fondo_img">
        <div class="iconos-container">
            <!--Icono de Cruz-->
            <a href="info-receta"><span class="cross">&#10005;</span></a>
        </div>
        <div class="imagen-container maximo_img">
            <img src="{{recetaSeleccionada.img}}" alt="img_receta" class="img-fluid">
        </div>
    </div>
</section>

<section class="info_receta">

    <div class="fondo_titulo">
        <div class="titulo_centrado">
            <h1 class="card-title">{{recetaSeleccionada.titulo}}</h1>
        </div>

        <div class="d-flex flex-wrap flex-column flex-sm-row justify-content-between parametros_info">
            <div class="borde_cajas d-flex">
                <h4 class="card-subtitle text-muted"><i class="fa-solid fa-users"></i> Comensales: </h4>
                <p class="ms-2 mt-3">{{recetaSeleccionada.comensales}}</p>
            </div>
            <div class="borde_cajas d-flex">
                <h4 class="card-subtitle text-muted"><i class="fa-solid fa-clock"></i> Tiempo: </h4>
                <p class="ms-2 mt-3">{{recetaSeleccionada.duracion}}</p>
            </div>
            <div class="borde_cajas d-flex">
                <h4 class="card-subtitle text-muted"><i class="fa-solid fa-heart"></i> Valoración: </h4>
                <p class="ms-2 mt-3"><i class="fa-regular fa-thumbs-up"></i> {{recetaSeleccionada.sentimiento_pos}}%</p>
                <p class="ms-2 mt-3"><i class="fa-regular fa-thumbs-down"></i> {{recetaSeleccionada.sentimiento_neg}}%
                </p>
            </div>
            <div class="borde_cajas d-flex">
                <h4 class="card-subtitle text-muted"><i class="fa-solid fa-signal"></i> Dificultad: </h4>
                <p class="ms-2 mt-3">{{recetaSeleccionada.dificultad}}</p>
            </div>
        </div>
    </div>

    <div class="background_ingrediente">
        <h4 class="card-subtitle text-muted titulo_centrado">Ingredientes</h4>
        <div class="lista_ingredientes">
            <div *ngFor="let ingrediente of todosIngredientes">

                <p>{{ingrediente.nombre_ingrediente}}</p>

            </div>
        </div>
    </div>

    <div class="fin_pagina">
        <h4 class="card-subtitle text-muted titulo_centrado">Elaboración</h4>
        <div class="elaboracion_box">
            <p *ngFor="let pasos of pasosReceta; let i = index;" class="texto_final">
                <span>{{i+1}}</span> {{pasos}}
            </p>
        </div>
    </div>
</section>