.gradient-custom-2 {
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}



.imagen-background {
  background: url("https://images.pexels.com/photos/1640773/pexels-photo-1640773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  min-height: 100vh;
  height: auto;



}

.separacion_navbar {
  padding-top: 12%;
  padding-bottom: 5%;
}

.alinear_texto {
  color: wheat;
}

.alinear_titulo {
  color: rgb(151, 230, 136);
  text-align: center;
}


h4 {
  -webkit-text-stroke: 1px rgb(20, 19, 19);
  font-size: 45px;
  padding-bottom: 10%;

}

hr {
  border: none;
  width: 100%;
  border-bottom: 3px solid white;
}



@media (max-width: 850px) {
  .separacion_navbar {
    padding-top: 20%;
  }
}

@media (max-width: 520px) {
  .separacion_navbar {
    padding-top: 30%;
  }
}

@media (max-width: 340px) {
  .separacion_navbar {
    padding-top: 50%;
  }

  h4 {
    font-size: 30px;
  }
}

@media (max-width: 230px) {
  h4 {
    font-size: 20px;
  }

  h6 {
    font-size: 20px;
  }
}

@media (max-width: 220px) {
  .separacion_navbar {
    padding-top: 90%;
  }
}