<section class="h-100 gradient-form">
  <div class="imagen-background">


    <div class="container separacion_navbar">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                  <div class="text-center">
                    <h3 class="mt-1 mb-5 pb-1 ">Iniciar Sesión</h3>
                  </div>
                  <form>
                    <p>Introduzca su correo electronico</p>

                    <div class="form-outline mb-4">
                      <input type="email" id="email_user" class="form-control" placeholder="Correo electronico" />

                    </div>

                    <p>Introduzca su contraseña</p>

                    <div class="form-outline mb-4">
                      <input type="password" id="contasenia_user" class="form-control" placeholder="Contraseña" />
                    </div>


                    <div class="text-center pt-1 mb-4 pb-1">
                      <button (click)="obtenerDatosLogin()"
                        class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-6" type="button">Iniciar
                        Sesión
                      </button>
                      <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=loffelsoftwares@gmail.com"
                        target="_blank">
                        <p class="forgot-password">¿Has olvidado tu contraseña?</p>
                      </a>
                    </div>



                  </form>
                </div>
              </div>

              <div class="col-lg-6 col-md-12 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">

                  <div>
                    <h4 class="alinear_titulo">
                      ¡Bienvenido a ETEN!
                    </h4>

                    <p class="alinear_texto">
                      En ETEN nos importa tus gustos y preferencias, por eso te ofrecemos una gran variedad
                      de recetas para que puedas elegir lo que más te gusta.
                    </p>
                  </div>

                  <hr>

                  <div>
                    <h6 class="alinear_titulo">
                      ¿No perteneces a ETEN? <br>
                    </h6>

                    <p class="alinear_texto">
                      Únete a nosotros y disfruta de los beneficios
                      de ser parte de nuestra comunidad.
                    </p>

                    <button type="submit" routerLink="/sign-up" class="btn btn-primary btn-block gradient-custom-2">
                      Registrarse
                    </button>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>