@import 'bootstrap/scss/bootstrap';


$logo-ETEN-naranja: #F05A21;




html {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;

}

body {
  background-color: white;

}


.navbar-toggler {
  background-color: $logo-ETEN-naranja;
}



/***********************************/

.navbar-brand img {
  float: left;
  width: 100px;
  height: 80px;
  padding: 5px 10px;
}


.navbar {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
}

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: right;
}


.nav-item a {
  color: white;
}

.nav-item {
  margin: 0 10px;
}


.nav-item:hover > a{
  border-bottom: 1px solid $logo-ETEN-naranja;

}

.nav-item:active,
  .nav-item:focus{
  color: $logo-ETEN-naranja;
  border-bottom: 1px solid $logo-ETEN-naranja;
}

.nav-link.active {
  border-bottom: 1px solid $logo-ETEN-naranja;
}



/*SUBMENU*/

.dropdown-menu {
  background-color: black;
}

.dropdown-menu li {
  margin: 0 10px;
}

.dropdown-menu:hover .dropdown-item {
  background-color: black;
}

.dropdown-menu li:hover a {
  border-bottom: 1px solid $logo-ETEN-naranja;
}

.nav-link {
  font-size: 18px;
}

.dropdown-item {
  font-size: 18px;
}

.active {
  background-color: $logo-ETEN-naranja;
}

.ajustarImgUser{
  width: 35px;
  height: 35px;
  border-radius: 20px;
}

.ajustarImgUser img {
  width: inherit;
  height: inherit;
  border-radius: 20px;
  object-fit: fill;
}

.hand{
  cursor: pointer;
}
