<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">

    <section class="mb-4">

      <a class="btn btn-outline-light btn-floating m-1" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=loffelsoftwares@gmail.com" target="_blank" role="button">
        <i class="fa-solid fa-envelope"></i></a>

      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/eten_ls/" target="_blank" role="button">
        <i class="fab fa-instagram"></i></a>
    </section>

  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" [routerLink]="['']">Eten.com</a>
  </div>

</footer>
