<section id="buscador-bar" >
    <div class="top-bar">
      <form>
        <input type="text" #nombreReceta placeholder="Introduzca un ingrediente" />
      </form>
      <form >
      <button type="button" #botonReceta (click)="agregarTarjeta()">Añadir</button>
     </form>
     </div>
        <div class="tarjetas">
          <div #contenedorTarjetas  class="tarjetas-container">
            <div class="tarjeta-aniadida" *ngFor="let ingrediente of ingredientes; let i = index">
              <span>{{ ingrediente }}</span>
              <span class="borrar" (click)="eliminarIngrediente(i)">x</span>
            </div>
          </div>
          


    </div>
</section>

      <div class="scroll-content">
        <div class="card">
          <a href="#"><img class="card-img-top" src="assets/imgs/paella.jpg" alt="Card image cap"></a>
          <div class="card-body">
            <a href="#"><h5 class="card-title">Card title</h5></a>
          </div>
        </div>
        <a href="#"><div class="card">
          <img class="card-img-top" src="assets/imgs/pasta.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
        </a>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
          </div>
        </div>
        



      </div>

  

