/* VARIABLES */

$logo-ETEN-naranja: #F05A21;
$naranja-intermedio: #EC6433;
$naranja-claro: #F37A44;
$azul-oscuro: #155386;
$azul-claro: #0086AA;
$color-crema: #E9DFCB;



html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  height: 100%;
  background-color: $color-crema;
}

body {
  margin: 0;
  padding: 0;

}

#buscador-bar {
  margin-top:100px;

}
.top-bar form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-bar input[type="text"] {
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 500px;
  margin-right: 10px;
  font-size: 16px;
  color: #555;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.top-bar input[type="text"]:focus {
  outline: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.top-bar button[type="button"] {
  background-color: #f05a21;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.top-bar button[type="button"]:hover {
  background-color: #ec6433;
}




.right-container {
  margin-left: 300px;
  height: 100%;

}

.right-container h3 {
  text-align: center;
  padding-top: 20px;
}



.card {
  width: 300px;
  margin: 20px auto; /* centrar horizontalmente */
  height: 300px;
}

.scroll-content {
  max-height: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
}


.card:hover {
  box-shadow: 2px 2px 2px rgba(0, 0, 0);

}

.card img {
  width:300px;
  height:200px;
  background-size: cover;
}

.card-body a {
  text-decoration: none;
}

.card-title {
  text-align: center;

}

.tarjeta-aniadida {
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  margin-top: 10px;   
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  max-width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 270px;
}

.borrar {
  color: red;
  margin-left: 5px;;
  cursor: pointer;
}

.top-bar {
  flex: 1;
  
  background-color: orange;
  display: flex;
  justify-content: center;
  margin-top: 2%;
  flex-direction: column;
  height: 200px !important;
  
}

.top-bar form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarjetas {
  
  display: flex;
  justify-content: center;
}

.tarjetas-container {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 800px;
 
}