<section id="buscador-bar">
  <div class="top-bar">
    <form>
      <input type="text" id="nombreReceta" placeholder="Introduzca un ingrediente"/>
    </form>
    <form>
      <button type="button" id="botonReceta" (click)="agregarTarjeta()">Añadir</button>
    </form>
    <form>
      <button type="button" id="btnBuscar" (click)="buscarRecetasPorIngrediente()">Buscar</button>
    </form>

  </div>
  <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
  <div class="tarjetas">
    <div id="contenedorTarjetas" class="tarjetas-container">
      <div class="tarjeta-aniadida" *ngFor="let ingrediente of ingredientesTarjetas; let i = index">
        <span>{{ ingrediente }}</span>
        <span class="borrar" (click)="eliminarIngrediente(i)">x</span>
      </div>
    </div>
  </div>

  <div class="recetas">
    <div class="scroll-content" id="contenedor-scroll">
      <div class="col-md-4" *ngFor="let receta of recetas | paginate : {
    itemsPerPage: numRecetas,
    currentPage: page,
    totalItems: numeroTotal
           }; let i = index" [class.active]="i == currentIndex">
        <div class="card">
          <div class="contenedor-img">
            <img class="card-img-top" src="{{receta.img}}" alt="{{ receta.titulo }}">
          </div>
          <div class="card-body">
            <a (click)="abrirInfoReceta(receta)">
              <h5 class="card-title stretched-link">{{ receta.titulo }}</h5></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="paginacion">
  <pagination-controls
    previousLabel="Anterior"
    nextLabel="Siguiente"
    (pageChange)="handlePageChange($event)"
  ></pagination-controls>
</div>


<app-footer></app-footer>
