/* VARIABLES */

$logo-ETEN-naranja: #F05A21;
$naranja-intermedio: #EC6433;
$naranja-claro: #F37A44;
$azul-oscuro: #155386;
$azul-claro: #0086AA;
$color-crema: #E9DFCB;



html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  height: 100%;
  background-color: $color-crema;
}

body {
  margin: 0;
  padding: 0;

}

#buscador-bar {
  margin-top:100px;

}

.top-bar {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.62), rgba(30, 30, 30, 0.73)), url('https://images.pexels.com/photos/1956974/pexels-photo-1956974.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat top center;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 2%;
  height: 200px !important;

}


.top-bar form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-bar input[type="text"] {
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 500px;
  font-size: 16px;
  color: #555;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.top-bar input[type="text"]:focus {
  outline: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.top-bar button[type="button"] {
  background-color: #f05a21;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.top-bar button[type="button"]:hover {
  background-color: black;
  color: $logo-ETEN-naranja;
}


.recetas {
  height: 100%;
}

.scroll-content {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: scroll;
}

.card {
  margin: 10px;
  height: 300px;
  border-bottom: 5px solid $naranja-claro;
  cursor: pointer;

}

.card-img-top {
  height: 200px;
  object-fit: cover;

}

.card-title {
  text-align: center;
}


.card:hover {
  transform: scale(1.05);
}

.tarjetas {
  display: flex;
  justify-content: center;
}


.tarjeta-aniadida {
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  text-align: center;
  margin: 10px 10px;
  border-radius: 5px;
  max-width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  white-space: nowrap;
}

.borrar {
  color: red;
  margin-left: 5px;;
  cursor: pointer;
}


.paginacion {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-top: 20px;
  background-color: white;
}

.paginacion ::ng-deep .ngx-pagination .current {
  background: $logo-ETEN-naranja;
}

.paginacion ::ng-deep .ngx-pagination .ng-star-inserted {
  border-radius: 50%;
}
