<section class="h-100 imagen-background">
    <div class="container py-5-custom">
      <div class="card rounded-3 text-black">
        <div class="card-body p-md-5 mx-md-4">
          <div class="text-center">
            <h3 class="mt-1 mb-5 pb-1 ">Regístrate</h3>
          </div>
          <form>
            <p>Introduzca su nombre</p>
            <div class="form-outline mb-4">
              <input type="text" id="registro_nombre" class="form-control" placeholder="Nombre" />
            </div>
            <p>Introduzca su correo electronico</p>
            <div class="form-outline mb-4">
              <input type="email" id="registro_email" class="form-control" placeholder="Correo electronico" />
            </div>
            <p>Confirme su correo electronico</p>
            <div class="form-outline mb-4">
              <input type="email" id="registro_confirme_email" class="form-control"
                placeholder="Confirmar correo electronico" />
            </div>
            <p>Introduzca su contraseña</p>
            <div class="form-outline mb-4">
              <input type="password" id="registro_password" class="form-control" placeholder="Contraseña" />
            </div>
            <p>Confirme su contraseña</p>
            <div class="form-outline mb-4">
              <input type="password" id="registro_confirme_password" class="form-control"
                placeholder="Confirmar contraseña" />
            </div>
            <div class="text-center pt-1 mb-4 pb-1">
              <button (click)="obtenerDatosRegistro()" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-4" type="button">Registrar
              </button> <br>
            </div>
          </form>
        </div>
      </div>
    </div>

</section>
