
<section id="section-video">
  <div id="home-video">
    <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" id="video-banner">
      <source src="assets/videos/ETEN-home.mp4" type="video/mp4">
    </video>

    <h1>ETEN</h1>

  </div>
</section>


<section id="seccion-presentation">

  <div class="presentacion">
    <div id="contendor-imagnenes">
      <img src="assets/imgs/ETEN-tarjetas.png" alt="ETEN-logo">
    </div>
    <div class="contenido">
      <div id="titulo-presentacion">
        <h3>ETEN para tu sartén</h3>
      </div>
      <div id="contenido-presentacion">
        <p>ETEN se presenta para sacar su lado más cocinero. Te ofrecemos una amplia gama de recetas, además de útiles
          funcionalidades para tu día a día.</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
          a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
          but also the leap into electronic typesetting, remaining essentially unchanged.
          It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
          and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </div>
  </div>


</section>





<section id="section-categorias">


    <div class="main">
      <ul class="cards">
        <li class="cards_item">
          <div class="flip-box">
            <div class="flip-box-front text-center">
              <div class="card">
                <div class="card_image">
                  <img src="https://images.pexels.com/photos/723198/pexels-photo-723198.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                       alt="mixed vegetable salad in a mason jar."/>
                </div>
                <div class="card_content">
                  <div class="card_text">
                    <h2 style="color:#F1F1D2;">Arroz</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flip-box-back text-center" style="background: linear-gradient(to top, rgba(255, 255, 223, 0.62), rgba(241, 241, 210, 0.73)), url('https://images.pexels.com/photos/723198/pexels-photo-723198.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat top center;">
              <div class="inner color-white">
                <div class="card_content">
                  <div class="card_text">
                    <p>Mostochely is a desktop application that manages a pizzeria, allowing users to
                      order pizzas and manage the delivery.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>







        <li class="cards_item">
          <div class="flip-box">
            <div class="flip-box-front text-center">
              <div class="card">
                <div class="card_image">
                  <img src="https://images.pexels.com/photos/3535383/pexels-photo-3535383.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                       alt="mixed vegetable salad in a mason jar."/>
                </div>
                <div class="card_content">
                  <div class="card_text">
                    <h2 style="color:#980634;">Carne</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flip-box-back text-center" style="background: linear-gradient(to top, rgba(190, 43, 59, 0.62), rgba(152, 6, 52, 0.73)), url('https://images.pexels.com/photos/3535383/pexels-photo-3535383.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat top center;">
              <div class="inner color-white">
                <div class="card_content">
                  <div class="card_text">
                    <p>Mostochely is a desktop application that manages a pizzeria, allowing users to
                      order pizzas and manage the delivery.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>



        <li class="cards_item">
          <div class="flip-box">
            <div class="flip-box-front text-center">
              <div class="card">
                <div class="card_image">
                  <img src="https://images.pexels.com/photos/803963/pexels-photo-803963.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                       alt="mixed vegetable salad in a mason jar."/>
                </div>
                <div class="card_content">
                  <div class="card_text">
                    <h2 style="color:#E4DC42;">Pasta</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flip-box-back text-center" style="background: linear-gradient(to top, rgba(238, 235, 22, 0.62), rgba(228, 220, 66, 0.73)), url('https://images.pexels.com/photos/803963/pexels-photo-803963.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat top center;">
              <div class="inner color-white">
                <div class="card_content">
                  <div class="card_text">
                    <p>Mostochely is a desktop application that manages a pizzeria, allowing users to
                      order pizzas and manage the delivery.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>



        <li class="cards_item">
          <div class="flip-box">
            <div class="flip-box-front text-center">
              <div class="card">
                <div class="card_image">
                  <img src="https://images.pexels.com/photos/2098085/pexels-photo-2098085.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                       alt="mixed vegetable salad in a mason jar."/>
                </div>
                <div class="card_content">
                  <div class="card_text">
                    <h2 style="color:#0AD6E9;">Pescado</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flip-box-back text-center" style="background: linear-gradient(to top, rgba(5, 204, 255, 0.62), rgba(10, 214, 233, 0.73)), url('https://images.pexels.com/photos/2098085/pexels-photo-2098085.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat top center;">
              <div class="inner color-white">
                <div class="card_content">
                  <div class="card_text">
                    <p>Mostochely is a desktop application that manages a pizzeria, allowing users to
                      order pizzas and manage the delivery.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>


        <li class="cards_item">
          <img src="assets/imgs/categorias.png" height="400" width="500">
        </li>



        <li class="cards_item">
          <div class="flip-box">
            <div class="flip-box-front text-center">
              <div class="card">
                <div class="card_image">
                  <img src="https://images.pexels.com/photos/11213759/pexels-photo-11213759.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                       alt="mixed vegetable salad in a mason jar."/>
                </div>
                <div class="card_content">
                  <div class="card_text">
                    <h2 style="color:#00B84A;">Vegetales</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flip-box-back text-center" style="background: linear-gradient(to top, rgba(7, 147, 56, 0.62), rgba(0, 184, 74, 0.73)), url('https://images.pexels.com/photos/11213759/pexels-photo-11213759.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat top center;">
              <div class="inner color-white">
                <div class="card_content">
                  <div class="card_text">
                    <p>Mostochely is a desktop application that manages a pizzeria, allowing users to
                      order pizzas and manage the delivery.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>


        <li class="cards_item">
          <div class="flip-box">
            <div class="flip-box-front text-center">
              <div class="card">
                <div class="card_image">
                  <img src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                       alt="mixed vegetable salad in a mason jar."/>
                </div>
                <div class="card_content">
                  <div class="card_text">
                    <h2 style="color:#F880CE;">Dulce</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flip-box-back text-center" style="background: linear-gradient(to top, rgba(245, 118, 224, 0.62), rgba(248, 128, 206, 0.73)), url('https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat top center;">
              <div class="inner color-white">
                <div class="card_content">
                  <div class="card_text">
                    <p>Mostochely is a desktop application that manages a pizzeria, allowing users to
                      order pizzas and manage the delivery.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>





        <li class="cards_item">
          <div class="flip-box">
            <div class="flip-box-front text-center">
              <div class="card">
                <div class="card_image">
                  <img src="https://images.pexels.com/photos/1441122/pexels-photo-1441122.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                       alt="mixed vegetable salad in a mason jar."/>
                </div>
                <div class="card_content">
                  <div class="card_text">
                    <h2 style="color:#0057BA;">Bebida</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flip-box-back text-center" style="background: linear-gradient(to top, rgba(75, 105, 236, 0.62), rgba(0, 87, 186, 0.73)), url('https://images.pexels.com/photos/1441122/pexels-photo-1441122.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat top center;">
              <div class="inner color-white">
                <div class="card_content">
                  <div class="card_text">
                    <p>Mostochely is a desktop application that manages a pizzeria, allowing users to
                      order pizzas and manage the delivery.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>


        <li class="cards_item">
          <div class="flip-box">
            <div class="flip-box-front text-center">
              <div class="card">
                <div class="card_image">
                  <img src="https://images.pexels.com/photos/6399995/pexels-photo-6399995.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                       alt="mixed vegetable salad in a mason jar."/>
                </div>
                <div class="card_content">
                  <div class="card_text">
                    <h2 style="color:#9747DD;">Variado</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flip-box-back text-center" style="background: linear-gradient(to top, rgba(124, 108, 196, 0.62), rgba(151, 71, 221, 0.73)), url('https://images.pexels.com/photos/6399995/pexels-photo-6399995.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat top center;">
              <div class="inner color-white">
                <div class="card_content">
                  <div class="card_text">
                    <p>Mostochely is a desktop application that manages a pizzeria, allowing users to
                      order pizzas and manage the delivery.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

      </ul>
    </div>

</section>




<footer id="footer" class="footer">
  <div class="container-footer">
    <div class="partes-footer" id="plato1-footer">
    </div>
"
    <div class="partes-footer" id="footer-principal">
      <div class="footer-principal-1">
        <ul>
          <li><i class="fa-brands fa-instagram"></i></li>
          <li><i class="fa-solid fa-envelope"></i></li>
        </ul>
      </div>

      <div class="footer-principal-2">

      </div>
    </div>


    <div class="partes-footer" id="plato2-footer">
    </div>


  </div>
</footer>
