

<section id="section-video">
  <div id="home-video">
    <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" id="video-banner">
      <source src="assets/videos/ETEN-home.mp4" type="video/mp4">
    </video>

    <h1>ETEN</h1>

  </div>
</section>


<section id="abouts" class="abouts">
  <div class="container">
    <div class="row">
      <div class="abouts_content">
        <div class="col-md-6">
          <div class="single_abouts_text text-center" data-wow-duration="1s">
            <img src="assets/imgs/ETEN-tarjetas.png" alt="" />
          </div>
        </div>

        <div class="col-md-6">
          <div class="single_abouts_text" data-wow-duration="1s">
            <h4>ETEN para tu sartén</h4>
            <p>ETEN llega para ofrecerte una gran variedad de formas para disfrutar de la cocina, desde preparación de recetas
            hasta búsqueda de alimentos en diferentes supermercados.</p>
            <p>Permítenos enseñarte cómo hacer que la cocina sea entretenida, mostrándote un gran número de opciones de las que
            podrás disfrutar cada día. ETEN confía en qué la pasión por la gastronomía se puede desarrollar, por lo qué
            apuesta por innovaciones en sus funcionalidades, para ofrecer una de las mejores experiencias posibles.</p>
            <p>Siguénos y ayúdanos a mejorar para seguir expandiéndonos.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section id="seccion-funcionalidades" class="funcionalidades">

    <div class="tabs">

      <input type="radio" name="tabs" class="tabs-input" id="tabone"  checked="checked">
      <label for="tabone"><span><img src="assets/imgs/comida-categorias.png" widht="60" height="60"></span></label>
      <div class="tab">
        <h3>Clasificador de recetas</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>

      <input type="radio" name="tabs" class="tabs-input" id="tabtwo">
      <label for="tabtwo"><span><img src="assets/imgs/ingredientes.png" widht="60" height="60"></span></label>
      <div class="tab">
        <h3>Búsqueda de recetas</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>

      <input type="radio" name="tabs" class="tabs-input" id="tabthree">
      <label for="tabthree"><span><img src="assets/imgs/descuento.png" widht="60" height="60"></span></label>
      <div class="tab">
        <h3>Ofertas</h3>
        <p>hfioezhogehzioghz</p>
      </div>

      <input type="radio" name="tabs" class="tabs-input" id="tabfour">
      <label for="tabfour"><span><img src="assets/imgs/favoritas.png" widht="60" height="60"></span></label>
      <div class="tab">
        <h3>Recetas favortias</h3>
        <p>hfioezhogehzioghz</p>
      </div>

    </div>
</section>








<section id="section-categorias">


    <div class="main">
      <ul class="cards">
        <li class="cards_item">
          <div class="flip-box">
            <div class="flip-box-front text-center">
              <div class="card">
                <div class="card_image">
                  <img src="https://images.pexels.com/photos/723198/pexels-photo-723198.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                       alt="Plato de arroz con salsa y verdura"/>
                </div>
                <div class="card_content">
                  <div class="card_text">
                    <h2 style="color:#F1F1D2;">Arroz</h2>
                    <p>El arroz es una excelente fuente de vitaminas y minerales. Proporcionan la base para el metabolismo
                      del cuerpo, la salud del sistema inmunológico y el funcionamiento general de los órganos</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flip-box-back text-center" style="background: linear-gradient(to top, rgba(255, 255, 223, 0.62), rgba(241, 241, 210, 0.73)), url('https://images.pexels.com/photos/723198/pexels-photo-723198.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat top center;">
              <div class="inner color-white">
                <div class="card_content">
                  <div class="card_text">
                    <p>Mostochely is a desktop application that manages a pizzeria, allowing users to
                      order pizzas and manage the delivery.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>







        <li class="cards_item">
          <div class="flip-box">
            <div class="flip-box-front text-center">
              <div class="card">
                <div class="card_image">
                  <img src="https://images.pexels.com/photos/3535383/pexels-photo-3535383.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                       alt="Filete de carne con patatas"/>
                </div>
                <div class="card_content">
                  <div class="card_text">
                    <h2 style="color:#980634;">Carne</h2>
                    <p>Existen diferentes tipos de carne, que proporcionan </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flip-box-back text-center" style="background: linear-gradient(to top, rgba(190, 43, 59, 0.62), rgba(152, 6, 52, 0.73)), url('https://images.pexels.com/photos/3535383/pexels-photo-3535383.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat top center;">
              <div class="inner color-white">
                <div class="card_content">
                  <div class="card_text">
                    <p>Mostochely is a desktop application that manages a pizzeria, allowing users to
                      order pizzas and manage the delivery.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>



        <li class="cards_item">
          <div class="flip-box">
            <div class="flip-box-front text-center">
              <div class="card">
                <div class="card_image">
                  <img src="https://images.pexels.com/photos/803963/pexels-photo-803963.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                       alt="Plato de macarrones con verduras"/>
                </div>
                <div class="card_content">
                  <div class="card_text">
                    <h2 style="color:#E4DC42;">Pasta</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flip-box-back text-center" style="background: linear-gradient(to top, rgba(238, 235, 22, 0.62), rgba(228, 220, 66, 0.73)), url('https://images.pexels.com/photos/803963/pexels-photo-803963.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat top center;">
              <div class="inner color-white">
                <div class="card_content">
                  <div class="card_text">
                    <p>Mostochely is a desktop application that manages a pizzeria, allowing users to
                      order pizzas and manage the delivery.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>



        <li class="cards_item">
          <div class="flip-box">
            <div class="flip-box-front text-center">
              <div class="card">
                <div class="card_image">
                  <img src="https://images.pexels.com/photos/2098085/pexels-photo-2098085.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                       alt="Bandeja de madera con sushi"/>
                </div>
                <div class="card_content">
                  <div class="card_text">
                    <h2 style="color:#0AD6E9;">Pescado</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flip-box-back text-center" style="background: linear-gradient(to top, rgba(5, 204, 255, 0.62), rgba(10, 214, 233, 0.73)), url('https://images.pexels.com/photos/2098085/pexels-photo-2098085.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat top center;">
              <div class="inner color-white">
                <div class="card_content">
                  <div class="card_text">
                    <p>Mostochely is a desktop application that manages a pizzeria, allowing users to
                      order pizzas and manage the delivery.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>


        <li class="cards_item">
          <img src="assets/imgs/categorias.png" height="400" width="500">
        </li>



        <li class="cards_item">
          <div class="flip-box">
            <div class="flip-box-front text-center">
              <div class="card">
                <div class="card_image">
                  <img src="https://images.pexels.com/photos/11213759/pexels-photo-11213759.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                       alt="Plato de verduras variadas"/>
                </div>
                <div class="card_content">
                  <div class="card_text">
                    <h2 style="color:#00B84A;">Vegetales</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flip-box-back text-center" style="background: linear-gradient(to top, rgba(7, 147, 56, 0.62), rgba(0, 184, 74, 0.73)), url('https://images.pexels.com/photos/11213759/pexels-photo-11213759.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat top center;">
              <div class="inner color-white">
                <div class="card_content">
                  <div class="card_text">
                    <p>Mostochely is a desktop application that manages a pizzeria, allowing users to
                      order pizzas and manage the delivery.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>


        <li class="cards_item">
          <div class="flip-box">
            <div class="flip-box-front text-center">
              <div class="card">
                <div class="card_image">
                  <img src="https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                       alt="Plato con tortias dulces"/>
                </div>
                <div class="card_content">
                  <div class="card_text">
                    <h2 style="color:#F880CE;">Dulce</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flip-box-back text-center" style="background: linear-gradient(to top, rgba(245, 118, 224, 0.62), rgba(248, 128, 206, 0.73)), url('https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat top center;">
              <div class="inner color-white">
                <div class="card_content">
                  <div class="card_text">
                    <p>Mostochely is a desktop application that manages a pizzeria, allowing users to
                      order pizzas and manage the delivery.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>





        <li class="cards_item">
          <div class="flip-box">
            <div class="flip-box-front text-center">
              <div class="card">
                <div class="card_image">
                  <img src="https://images.pexels.com/photos/1441122/pexels-photo-1441122.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                       alt="Vasos de cristal con refrescos"/>
                </div>
                <div class="card_content">
                  <div class="card_text">
                    <h2 style="color:#0057BA;">Bebida</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flip-box-back text-center" style="background: linear-gradient(to top, rgba(75, 105, 236, 0.62), rgba(0, 87, 186, 0.73)), url('https://images.pexels.com/photos/1441122/pexels-photo-1441122.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat top center;">
              <div class="inner color-white">
                <div class="card_content">
                  <div class="card_text">
                    <p>Mostochely is a desktop application that manages a pizzeria, allowing users to
                      order pizzas and manage the delivery.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>


        <li class="cards_item">
          <div class="flip-box">
            <div class="flip-box-front text-center">
              <div class="card">
                <div class="card_image">
                  <img src="https://images.pexels.com/photos/6399995/pexels-photo-6399995.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                       alt="Bandeja con tacos"/>
                </div>
                <div class="card_content">
                  <div class="card_text">
                    <h2 style="color:#9747DD;">Variado</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flip-box-back text-center" style="background: linear-gradient(to top, rgba(124, 108, 196, 0.62), rgba(151, 71, 221, 0.73)), url('https://images.pexels.com/photos/6399995/pexels-photo-6399995.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat top center;">
              <div class="inner color-white">
                <div class="card_content">
                  <div class="card_text">
                    <p>Mostochely is a desktop application that manages a pizzeria, allowing users to
                      order pizzas and manage the delivery.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

      </ul>
    </div>

</section>




<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fa-solid fa-envelope"></i></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-instagram"></i></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-google"></i></a>


    </section>
  </div>
</footer>

