
/* IMPORTE DE FONTS */
@import url('https://fonts.cdnfonts.com/css/borsok');
@import url('https://fonts.cdnfonts.com/css/pacifico');


/* VARIABLES */

$logo-ETEN-naranja: #F05A21;
$naranja-intermedio: #EC6433;
$naranja-claro: #F37A44;
$azul-oscuro: #155386;
$azul-claro: #0086AA;
$color-crema: #E9DFCB;






/**********************************************/

html {
  background-color: $color-crema;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}



body {
  margin: 0;
  padding: 0;
}




/**********************************************/

#home-video {
  position:relative;
  margin: 0;
}



#video-banner {
  position:relative;
  z-index:0;
  width: 100%;
  height: 750px;
  margin: 0;
  object-fit: cover;
}


h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:120px;
  letter-spacing:0.1em;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
  text-shadow:
    8px 8px $logo-ETEN-naranja,
    20px 20px black;
}


/* SECCION PRESENTACION */


.abouts{
  background: url('https://images.pexels.com/photos/1101122/pexels-photo-1101122.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center top scroll;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}
.abouts_content{
  padding:120px 0px;
  display: flex;
}
.single_abouts_text h4{
  color:#000000;
  font-family: 'Pacifico', cursive;
}


.single_abouts_text img {
  width: 100%;
  height: 400px;
}






/* SECCION FUNCIONALIDADES */

.funcionalidades {
}


.col-md-3 {
  margin-top: 50px;

  display: flex;
  justify-content: center;
}

.span-icon {
  display: flex;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 4px solid black;
}

.icon-funcionalidad {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  border: 2px solid red;
}

#icon-descuento, #icon-fav {
  padding-left: 5px;

}


















/* SECCION CATEGORIAS */

#section-categorias {
  margin-top: 200px;
  background-image: url('/assets/imgs/marmol.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  padding: 30px 10px;
  width: 100%;
}


.flip-box {
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  box-shadow: 3px 3px black;
  margin: 20px 20px;

}

.card_content h2 {
  font-family: 'Borsok', sans-serif;

}


.flip-box-front,
.flip-box-back {
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  min-height: 400px;
  -ms-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  -webkit-transition: transform 0.7s cubic-bezier(.4,.2,.2,1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-front {
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}


.flip-box:hover .flip-box-back {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box .inner {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 60px;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;

  transform: translateY(-50%) translateZ(60px) scale(.94);
  -webkit-transform: translateY(-50%) translateZ(60px) scale(.94);
  -ms-transform: translateY(-50%) translateZ(60px) scale(.94);
  top: 50%;
}

.flip-box-header {
  font-size: 34px;
  transform: translate(0, -200px);
}


















.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

.card_image {
  position: relative;
  max-height: 250px;
}

.card_image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}



@media (min-width: 40rem) {
  .cards_item {
    width: 100%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  height: 150px;
  margin-top: 0;
}





.footer {
  margin-top: 100px;
}




.container-footer {
  height: 350px;
  background-image: url('/assets/imgs/footer-ETEN.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
}

.partes-footer {
  border: 2px solid red;
}

#footer-principal {
  width: 100%;
}

#plato1-footer {

  width: 200px;
  height: inherit !important;
}

#plato2-footer {

  width: 200px;
  height: inherit !important;
}











































/* SECCION AJUSTE DE PANTALLA */

@media all and (max-width: 990px) {
  #video-banner {
    height: 400px;
    width: 100%;
  }

  h1 {
    font-size: 8rem;
  }



}

@media all and (max-width: 770px) {

  .abouts {
    display: inline-block;
  }



  .abouts_content {
    display: inline-block;
    /*flex-direction: column;*/
    padding: 20px 20px;
    .col-6 {
      width: inherit;
    }
  }
}




