
<!-- Carrosel hecho con mdb que son tools designs usando bootstrap-->
<!--
<mdb-carousel [controls]="true" [indicators]="true">
  <mdb-carousel-item>
    <img
      src="/assets/imgs/paella.jpg"
      class="d-block w-100"
      alt="..."
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="/assets/imgs/pollo.jpeg"
      class="d-block w-100"
      alt="..."
    />
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img
      src="/assets/imgs/totitas.jpg"
      class="d-block w-100"
      alt="..."
    />
  </mdb-carousel-item>
</mdb-carousel>
-->

<section id="section-video">
  <div id="home-video">
    <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" id="video-banner">
      <source src="assets/videos/ETEN-home.mp4" type="video/mp4">
    </video>

    <h1>ETEN</h1>

  </div>
</section>


<section id="section-categorias">



    <div class="main">
      <ul class="cards">
        <li class="cards_item">
          <div class="flip-box">
            <div class="flip-box-front text-center">
              <div class="card">
                <div class="card_image">
                  <img src="https://images.pexels.com/photos/723198/pexels-photo-723198.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                       alt="mixed vegetable salad in a mason jar."/>
                </div>
                <div class="card_content">
                  <div class="card_text">
                    <h2>Arroz</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flip-box-back text-center" style="background-color:#F1F1D2;">
              <div class="inner color-white">
                <div class="card_content">
                  <div class="card_text">
                    <p>Mostochely is a desktop application that manages a pizzeria, allowing users to
                      order pizzas and manage the delivery.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>







        <li class="cards_item">
          <div class="flip-box">
            <div class="flip-box-front text-center">
              <div class="card">
                <div class="card_image">
                  <img src="https://images.pexels.com/photos/3535383/pexels-photo-3535383.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                       alt="mixed vegetable salad in a mason jar."/>
                </div>
                <div class="card_content">
                  <div class="card_text">
                    <h2>Carne</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flip-box-back text-center" style="background-color:#980634;">
              <div class="inner color-white">
                <div class="card_content">
                  <div class="card_text">
                    <p>Mostochely is a desktop application that manages a pizzeria, allowing users to
                      order pizzas and manage the delivery.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>



        <li class="cards_item">
          <div class="flip-box">
            <div class="flip-box-front text-center">
              <div class="card">
                <div class="card_image">
                  <img src="https://images.pexels.com/photos/803963/pexels-photo-803963.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                       alt="mixed vegetable salad in a mason jar."/>
                </div>
                <div class="card_content">
                  <div class="card_text">
                    <h2>Pasta</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flip-box-back text-center" style="background-color:#e5cd58;">
              <div class="inner color-white">
                <div class="card_content">
                  <div class="card_text">
                    <p>Mostochely is a desktop application that manages a pizzeria, allowing users to
                      order pizzas and manage the delivery.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>



        <li class="cards_item">
          <div class="flip-box">
            <div class="flip-box-front text-center">
              <div class="card">
                <div class="card_image">
                  <img src="https://images.pexels.com/photos/2098085/pexels-photo-2098085.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                       alt="mixed vegetable salad in a mason jar."/>
                </div>
                <div class="card_content">
                  <div class="card_text">
                    <h2>Pescado</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flip-box-back text-center" style="background-color:#e5cd58;">
              <div class="inner color-white">
                <div class="card_content">
                  <div class="card_text">
                    <p>Mostochely is a desktop application that manages a pizzeria, allowing users to
                      order pizzas and manage the delivery.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="cards_item">
          <div class="flip-box">
            <div class="flip-box-front text-center">
              <div class="card">
                <div class="card_image">
                  <img src="https://images.pexels.com/photos/11213759/pexels-photo-11213759.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                       alt="mixed vegetable salad in a mason jar."/>
                </div>
                <div class="card_content">
                  <div class="card_text">
                    <h2>Vegetales</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flip-box-back text-center" style="background-color:#e5cd58;">
              <div class="inner color-white">
                <div class="card_content">
                  <div class="card_text">
                    <p>Mostochely is a desktop application that manages a pizzeria, allowing users to
                      order pizzas and manage the delivery.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>


        <li class="cards_item">
          <div class="flip-box">
            <div class="flip-box-front text-center">
              <div class="card">
                <div class="card_image">
                  <img src="https://images.pexels.com/photos/803963/pexels-photo-803963.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                       alt="mixed vegetable salad in a mason jar."/>
                </div>
                <div class="card_content">
                  <div class="card_text">
                    <h2>Bebida</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flip-box-back text-center" style="background-color:#e5cd58;">
              <div class="inner color-white">
                <div class="card_content">
                  <div class="card_text">
                    <p>Mostochely is a desktop application that manages a pizzeria, allowing users to
                      order pizzas and manage the delivery.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>


        <li class="cards_item">
          <div class="flip-box">
            <div class="flip-box-front text-center">
              <div class="card">
                <div class="card_image">
                  <img src="https://images.pexels.com/photos/803963/pexels-photo-803963.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                       alt="mixed vegetable salad in a mason jar."/>
                </div>
                <div class="card_content">
                  <div class="card_text">
                    <h2>Pasta</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="flip-box-back text-center" style="background-color:#e5cd58;">
              <div class="inner color-white">
                <div class="card_content">
                  <div class="card_text">
                    <p>Mostochely is a desktop application that manages a pizzeria, allowing users to
                      order pizzas and manage the delivery.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>











      </ul>
    </div>

</section>
