<section id="buscador-bar">
  <div class="top-bar">
    <form>
      <input id="nombreReceta" class="search-titulo" type="text" placeholder="Nombre de la receta" [(ngModel)]="nombreRecetaBuscar">
    </form>
    <form>
      <button (click)="obtenerTituloReceta()" type="submit">Buscar</button>
    </form>

  </div>
  <div class="recetas">
    <h3>{{ nombreRecetaBuscar }}</h3>
    <div class="scroll-content">
        @foreach($recetas as $receta)
        <div class="card">
            <a href="#"><img class="card-img-top" src="{{ $receta->img }}" alt="{{ $receta->titulo }}"></a>
            <div class="card-body">
                <a href="#"><h5 class="card-title">{{ $receta->titulo }}</h5></a>
            </div>
        </div>
        @endforeach
    </div>
</div>


<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">

    <section class="mb-4">

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fa-solid fa-envelope"></i></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-instagram"></i></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-google"></i></a>
    </section>

  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="http://localhost:4200/">Eten.com</a>
  </div>

</footer>


















