<section id="buscador-bar">
  <div class="top-bar">
    <form>
      <input id="nombreReceta" class="search-titulo" type="text" placeholder="Nombre de la receta" [(ngModel)]="nombreRecetaBuscar">
    </form>
    <form>
      <button (click)="obtenerTituloReceta()" type="submit">Buscar</button>
    </form>
    
  </div>
  
    <h3>{{nombreRecetaBuscar}}</h3>
    <div class="scroll-content">
      <div class="card">
        <a href="#"><img class="card-img-top" src="assets/imgs/paella.jpg" alt="Card image cap"></a>
        <div class="card-body">
          <a href="#"><h5 class="card-title">Card title</h5></a>
        </div>
      </div>
      <a href="#"><div class="card">
        <img class="card-img-top" src="assets/imgs/pasta.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
      </a>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>


    
  </div>

</section>





















