$primary-color: #F05A21;
$secondary-color: #ffffff;
$tertiary-color: #555555;

.seccionNavegacion {
  margin-top: 100px;
}

.menu-categoria {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 5rem 1rem;

  .buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    list-style: none;
  }

  .boton-categoria {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1rem;
    background-color: $primary-color;
    color: white;
    padding: 1rem 0.75rem;
    border-radius: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
    font-weight: bold;
    border: none;
    flex: 1;
    cursor: pointer;

    &:hover {
      background-color: black;
      color: $primary-color;
    }

    &.active {
      background-color: black;
      color: $primary-color;
    }
  }
}

.buttons-container button.button_selected {
  background-color: black;
  color: $primary-color;
  cursor: pointer;
}

.featured {
  height: 100%;
}

.contendor-scroll {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 20px;
}

.col-md-4 {
  display: flex;
  align-items: stretch;
  justify-content: center;
}


.card {
  width: 100%;
  border: 3px groove #F05A21;
  background-color: black;
  padding: 1rem;
  text-align: center;
  margin: 1rem;

  img {
    margin-bottom: 1rem;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  h3 {
    font-size: 1.2rem;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
  }

  p {
    margin-bottom: 1.1rem;
    font-size: 1rem;
    color: #ffffff;
  }

  del {
    color: #F05A21;
  }

  .precios {
    display: flex;
    justify-content: space-evenly;
    margin-top: auto;
    margin-bottom: 1rem;
  }

  .precioAnterior {
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
    color: grey;
  }

  .precioActual {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    display: inline-block;
    color: #ffffff;
  }

  .boton-precio {
    background-color: #F05A21;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease;

    position: absolute;
    bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    left: 10px;
    right: 10px;

    &:hover {
      background-color: #ffffff;
      color: #F05A21;
    }
  }
}


.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination ::ng-deep .ngx-pagination .current {
  background: $primary-color;
}

.pagination ::ng-deep .ngx-pagination .ng-star-inserted {
  border-radius: 50%;
}