<section class="seccionNavegacion">
  <div class="button-menu">
    <button class="btnOferta">Todos los productos</button>
    <button class="btnOferta">Productos Frescos</button>
    <button class="btnOferta">Despensa</button>
    <button class="btnOferta">Bebidas</button>
  </div>
</section>

<section class="seccion-cards">
  <div class="grid">
    <div class="card" *ngFor="let product of ofertas | paginate : {
    itemsPerPage: 15,
    currentPage: page,
    totalItems: ofertas.length };
    let i = index" [class.active]="i == currentIndex">
      <img [src]="product" alt="Producsto">
      <h3>{{ product }}</h3>
      <p>{{ product }}</p>
      <span class="price">{{ product }}</span>
      <a href="#" class="btn-primary">Comprar</a>
    </div>
  </div>
</section>


<div class="paginacion">
  <pagination-controls
    previousLabel="Anterior"
    nextLabel="Siguiente"
    (pageChange)="handlePageChange($event)"
  ></pagination-controls>
</div>




<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">

    <section class="mb-4">

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fa-solid fa-envelope"></i></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-instagram"></i></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-google"></i></a>
    </section>

  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="eten">Eten.com</a>
  </div>

</footer>
