<head>
    <meta charset="UTF-8">
    <title>Ofertas</title>
    <link rel="stylesheet" href="ofertas.component.scss">
  </head>
  <body>
    <header>
      <h1>Ofertas</h1>
    </header>

    <main>
      <nav class="menu-categoria">
        <ul>
          <li>
            <a href="#" class="boton-categoria" [class.active]="selectedcategoria===''" (click)="cargarTodasOfertas(''); $event.preventDefault()">
              Todos los productos
            </a>
          </li>
          <li *ngFor="let categoria of categorias">
            <a href="#" class="boton-categoria" [class.active]="selectedcategoria===categoria" (click)="cargarTodasOfertas(categoria); $event.preventDefault()">
              {{ categoria }}
            </a>
          </li>
        </ul>
      </nav>

      <section class="featured">
        <div class="grid" id="contenedor-scroll">
          <div class="card" *ngFor="let product of products | paginate : {
            itemsPerPage: 20,
            currentPage: page,
            totalItems: numeroTotal
          }; let i = index"[class.active]=" i == currentIndex">
            <img [src]="product.imagenOferta" alt="Producto">
            <h3>{{ product.nombreOferta }}</h3>
            <div class="precios">             
              <span class="precioAnterior"><del>{{ product.precioAnterior.toFixed(2) }}</del></span>
              <span class="precioActual">{{ product.precioActual.toFixed(2) }}</span>  
            </div>          
            <a  [href]= "product.urlOferta" (click)="sumarVisita(product.id!)" class="boton-precio" target="_blank">Ver</a>
          </div>
        </div>
      </section>

      <div class="pagination">
        <pagination-controls
          previousLabel="Anterior"
          nextLabel="Siguiente"
          (pageChange)="handlePageChange($event)"
        ></pagination-controls>
      </div>
    </main>

    <footer class="bg-dark text-center text-white">
      <!-- Grid container -->
      <div class="container p-4 pb-0">

        <section class="mb-4">

          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="fa-solid fa-envelope"></i></a>

          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
            <i class="fab fa-instagram"></i></a>

          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google"></i></a>
        </section>

      </div>

      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="eten">Eten.com</a>
      </div>

    </footer>
  </body>
