<section id="buscador-bar" >
  <div class="top-bar">
    <form class="buttons-container">
    
      <button class="button">Carne</button>
      <button class="button">Pescao</button>
      <button class="button">Arroces</button>
      <button class="button">Vegetal</button>
      <button class="button">Pasta</button>
    </form>
      <form class="buttons-container">
      <button class="button">Dulce</button>
      <button class="button">Bebidas</button>
      <button class="button">Variado</button>
    </form>
    
  </div>
  </section>
 
      <div class="scroll-content">
      <div class="card">
        <a href="#"><img class="card-img-top" src="assets/imgs/paella.jpg" alt="Card image cap"></a>
        <div class="card-body">
          <a href="#"><h5 class="card-title">Card title</h5></a>
        </div>
      </div>
      <a href="#"><div class="card">
        <img class="card-img-top" src="assets/imgs/pasta.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
      </a>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>


    </div>
  

