<section id="buscador-bar" >
  <div class="top-bar">
    <div class="buttons-container">
      <button class="button">Carne</button>
      <button class="button">Pescado</button>
      <button class="button">Arroces</button>
      <button class="button">Vegetal</button>
      <button class="button">Pasta</button>
      <button class="button">Dulce</button>
      <button class="button">Bebidas</button>
      <button class="button">Variado</button>
    </div>
  </div>

  <div class="recetas">
    <div class="scroll-content">
      <div *ngFor="let receta of recetas" class="col-md-4">
        <div class="card">
          <img class="card-img-top" src="{{receta.img}}" alt="{{ receta.titulo }}">
          <div class="card-body">
            <a href="{{receta.img}}" target="_blank">
              <h5 class="card-title stretched-link">{{ receta.titulo }}</h5></a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">

    <section class="mb-4">

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fa-solid fa-envelope"></i></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
        <i class="fab fa-instagram"></i></a>

      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-google"></i></a>
    </section>

  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="http://localhost:4200/">Eten.com</a>
  </div>

</footer>
