

<!DOCTYPE html>
<html lang="en">

<div class="container">
</div>

<body>

    <section class="seccion-perfil-usuario">
        <div class="perfil-usuario-header">
            <div class="perfil-usuario-portada">
                <div class="perfil-usuario-avatar">
                    <img src="https://cdn-icons-png.flaticon.com/512/747/747376.png" alt="img-avatar">
                <div class = "datos-perfil">
                  <h4 class = "titulo-usuario">Sofía Ferreiro</h4>
                </div>

                    <button type="button" class="boton-avatar">
                        <i class="far fa-image"></i>
                    </button>
                </div>
                
                <button type="button" class="boton-portada">
                  <button type=""><i class="fas fa-wrench"></i></button>
                </button>
            </div>
        </div>
        <div class="perfil-usuario-body">
            <div class="perfil-usuario-bio">
            <form class = "formulario">
                <p>Nombre de usuario</p>
                <div class="form-outline mb-3">
                    <input type="text" id="form2Example11" class="form-control"
                        placeholder="nombre" />
                </div>

                <p>Correo electronico</p>
                <div class="form-outline mb-4">
                    <input type="email" id="form2Example22" class="form-control"
                        placeholder="correo" />
                </div>

                <p>Contraseña</p>
                <div class="form-outline mb-4">
                    <input type="password" id="form2Example22" class="form-control"
                        placeholder="contraseña" />
                </div>
              </form>
            </div>

            
            
            

            

        </div>
    </section>
    
<!--
    <div class = "contenedor">

        <div class="perfil-usuario-footer">
      <h3>  favoritos</h3>

      
      
        </div>
        
    </div>
    -->
    <div class=" bg-primary btn-block fa-lg gradient-custom-2  overflow-auto"  style="max-height: 65px;">
        <h1 class="text-center">Lista de Favoritos</h1> 
        <p>1.</p> <br>
        <p>2.</p> <br>
        <p>3.</p> <br>
    </div>
   

</body>

</html>