.container {
    margin-top: 105px;
    //border: 2px solid red;
}



//Centrar todos los componentes de la pagina
.seccion-perfil-usuario {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
}

//Parte superior ventana fondo degradado
.perfil-usuario-header {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    background: linear-gradient(#dd591c, transparent);
    margin-bottom: 1.25rem;
}

//Parte superior ventana informacion
.perfil-usuario-portada {
    position: relative;
    width: 90%;
    background-image: linear-gradient(45deg, #BC3CFF, #317FFF);
    border-radius: 0 0 20px 20px;
    background-image: url('https://images.pexels.com/photos/350417/pexels-photo-350417.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1%;
}

.img_user {
    width: 100%;
    position: relative;
    border-radius: 50%;
    max-width: 230px;
    max-height: 230px;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
}

.btn_ajustes {
    border: 0;
    border-radius: 50%;
    padding: 12px 16px;
    color: black;
    background-color: rgba(210, 111, 5, 0.93);
    cursor: pointer;
}

.btn_cambio_img {
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 1;
    background-color: #fff;
    color: black;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    border-radius: 50%;
    border: 0;
    cursor: pointer;
}

.img-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nombre_user {
    color: white;
    text-align: center;
    font-size: 40px;
    padding-left: 3%;
}

@media only screen and (max-width: 580px) {
    .img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn_cambio_img {
        top: 7%;
        left: 18%;
    }

    .btn_ajustes {
        margin-top: 8px;
    }
}

@media only screen and (max-width: 320px) {
    .nombre_user {
        font-size: 25px;
    }

    .btn_cambio_img {
        top: 7%;
        left: 10%;
    }
}


/*
@media(max-width:576px){
    .perfil-usuario-portada h1 {
        font-size: 1.5rem;
    }
    .perfil-usuario-portada .d-flex {
        flex-wrap: wrap;
    }
    .perfil-usuario-portada .text-center button {
        margin-top: 1rem;
    }
}
*/


/*
//Btn de modificar cosas en perfil
.boton-portada {
    position: absolute;
    top: 4%;
    right: 2%;
    border: 0;
    border-radius: 50%;
    padding: 12px 16px;
    background-color: rgba(210, 111, 5, 0.93);
    cursor: pointer;
}


//Ajuste foto perfil
.perfil-usuario-avatar {

    display: flex;
    max-width: 230px;
    max-height: 230px;
    border: 7px solid #FFFFFF;
    background-color: #DFE5F2;
    border-radius: 50%;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
}

.perfil-usuario-avatar img {
    width: 100%;
    position: relative;
    border-radius: 50%;
}

//Btn cambio foto perfil
.boton-avatar {
    position: absolute;
    left: 4%;
    top: 4%;
    border: 0;
    background-color: #fff;
    box-shadow: 0 0 12px rgba(0, 0, 0, .2);
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

//Nombre User
.titulo-usuario {
    position: relative;
    color: #fbf8f8;
    font-size: 50px;
    font-weight: bold;

}
*/
/*
@media (max-width: 630px) {
    .perfil-usuario-avatar {
        //display: flex;
        width: 130px;
        height: 130px;
    }
}
*/



/* FORMULARIO */

.gradient-custom-2 {
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

.eliminar_subscripcion {
    color: #fff;
    background-color: rgb(202, 8, 8);
}

.perfil-usuario-body {
    width: 100%;
    height: 100%;
    position: relative;
    max-width: 750px;
    align-items: center;
}

//Formulario caja exterior
.perfil-usuario-bio {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    text-align: center;
}

//Contenido del formulario
.formulario {
    width: 100%;
    padding: 3% 7%;
    //margin: 0;
    //position: relative;
    align-items: center;
    text-align: center;
}

//Campos editables
.form-control {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 10px;
}


/* Boton Cerrar Ssesion*/

#section_cerrar_sesion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    text-align: center;
    align-items: center;
    position: relative;
    width: 100%;
}
.div_btn_cerrar_sesion{
    width: 50%;
}

/* LISTA DE FAVORITOS*/

#seccion-favoritas {
  margin-bottom: 100px;
}

#seccion-favoritas h3 {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 1%;

}

.div-contenido-recetas {
    height: 100vh;
    overflow-y: scroll;
    border-radius: 5px;
    box-shadow: 0 0 12px rgb(0, 0, 0);
    margin: 0 20px;
}

.scroll-contenido {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;


}

.card {
    width: 300px;
    margin: 20px 20px;
    height: 300px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    text-align: center;
}

.card:hover {
    box-shadow: 2px 2px black;
  }

.notificacion {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  z-index: 1;
  right: 20px;
  bottom: 20px;
}

.toast-class {

  z-index: 1;
  position: sticky;
  right: 10px;
  bottom: 10px;

  display: inline-flex;
  min-width: 260px;
  min-height: 70px;
  max-height: 70px;
  box-shadow: 6px 6px 12px #00000040;

  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  border-left: 6px solid black;
  padding: 1.5rem;
  border-radius: 4px;
  font-size: 0.9rem;
  background-color: white;
  border-left: 6px solid #0086AA;
}

.close-btn:hover {
  cursor: pointer;
}

.close-btn:hover small{
  color: #0086AA;
}









