<section class="seccion-perfil-usuario">
  <div class="perfil-usuario-header">



    <div class="perfil-usuario-portada">

      <div class="row">
        <div class="d-flex flex-column align-items-center">
          <button type="button" (click)="modificarDatos()" class="btn btn-primary align-self-end btn_ajustes"><i
              class="fas fa-wrench"></i></button>
          <div class="text-center position-relative">
            <button type="button" (click)="seleccionarImagen()" class="btn btn-secondary btn_cambio_img"
              [disabled]="btnCambioImg">
              <i class="far fa-image"></i>
            </button>
            <div class="img-container">
              <img [src]="imagenSeleccionada" alt="img-avatar" class="img-fluid img_user">
              <h1 class="nombre_user">{{usuarioLogueado.nombre}}</h1>
            </div>
          </div>
        </div>
      </div>

    </div>





    <!--
            <div class="perfil-usuario-portada">



                <div class="d-flex flex-wrap flex-column align-items-left justify-content-left">
                    <div class="flex-grow-1 d-flex align-items-center gap-2 perfil-usuario-avatar">
                      <img src="https://cdn-icons-png.flaticon.com/512/747/747376.png" alt="img-avatar">
                      <div class="datos-perfil">
                        <h4 class="titulo-usuario">Sofía Ferreiro</h4>
                      </div>
                      <button type="button" class="btn boton-avatar">
                        <i class="far fa-image"></i>
                      </button>
                    </div>
                  </div>


            </div>
            -->
  </div>

  <div class="perfil-usuario-body">
    <div class="perfil-usuario-bio">
      <form id="formularioPerfilUser" class="formulario">

        <button *ngIf="(!btnSubscripcionSeleccionada)" (click)="subscripcion()"
          class="btn btn-primary btn-block gradient-custom-2 mt-2 mb-4" type="submit"
          [disabled]="btnSubscripcionForm">Subscribirse</button>
        <button *ngIf="(btnSubscripcionSeleccionada)" (click)="subscripcion()"
          class="btn btn-secondary btn-block eliminar_subscripcion mt-2 mb-4" type="submit"
          [disabled]="btnSubscripcionForm">Eliminar
          Subscripcion</button>


        <p>Nombre de usuario</p>
        <div class="form-outline mb-4">
          <input type="text" id="form_nombre_user" class="form-control" placeholder="nombre"
            value="{{usuarioLogueado.nombre}}" readonly>
        </div>
        <p>Correo electronico</p>
        <div class="form-outline mb-4">
          <input type="email" id="form_email" class="form-control" placeholder="email" value="{{usuarioLogueado.email}}"
            readonly />
        </div>

        <div *ngIf="(btnModificarDatosSeleccionado)">
          <p>Contraseña Actual</p>
          <div class="form-outline mb-4">
            <input type="password" id="form_password_actual" class="form-control" placeholder="password actual" />
          </div>
          <p>Contraseña Nueva</p>
          <div class="form-outline mb-4">
            <input type="password" id="form_password_nueva" class="form-control" placeholder="password nueva" />
          </div>

          <button class="btn btn-secondary btn-block fa-lg mb-2" (click)="cancelarCambios()" type="button">Cancelar
            Cambios</button>
          <button class="btn btn-primary btn-block fa-lg mb-2" (click)="guardarCambios()" type="submit">Guardar
            Cambios</button>
        </div>

      </form>
    </div>
  </div>
</section>

<div class="notificacion">
  <div *ngIf="showsToast" class="toast-class">
    <div style="max-width: 160px;">
      {{ toastMessage }}
    </div>

    <!--button-->
    <a class="close-btn" (click)="cerrarToast()">
      <small>
        Dismiss
      </small>
    </a>
  </div>
</div>

<section id="section_cerrar_sesion">
  <div class="div_btn_cerrar_sesion">
    <button class="btn btn-secondary btn-block eliminar_subscripcion fa-lg" (click)="cerrarSesion()">Cerrar
      Sesión</button>
  </div>
</section>



<section id="seccion-favoritas">
  <h3>Tus recetas favoritas</h3>
  <div class="buscador-recetasFavoritas">
  <form>
    <input id="nombreReceta" class="search-tituloFavorita" type="text" placeholder="Título de la receta"
           [(ngModel)]="nombreRecetaFavorita">
  </form>
  <form>
    <button class="btnObtenerRecetasFavoritas" (click)="obtenerRecetaFavorita()" type="submit">Buscar</button>
  </form>
  </div>
  <div class="div-contenido-recetas">
    <div class="scroll-contenido">

      <div *ngFor="let receta of recetas | paginate : {
           itemsPerPage: 12,
           currentPage: page,
           totalItems: recetas.length
           }; let i = index" [class.active]="i == currentIndex" class="card">
        <img class="card-img-top" src="{{receta.img}}" alt="{{ receta.titulo }}">
        <div class="card-body">
          <a (click)="abrirInfoReceta(receta)">
            <h5 class="card-title stretched-link">{{ receta.titulo }}</h5>
          </a>
        </div>
      </div>

    </div>
    <div class="paginacion">
      <pagination-controls
        previousLabel="Anterior"
        nextLabel="Siguiente"
        (pageChange)="handlePageChange($event)"
      ></pagination-controls>
    </div>
  </div>
</section>

<app-footer></app-footer>
