<section class="seccion-perfil-usuario">
    <div class="perfil-usuario-header">



        <div class="perfil-usuario-portada">

            <div class="row">
                <div class="d-flex flex-column align-items-center">
                    <button type="button" class="btn btn-primary align-self-end btn_ajustes"><i
                            class="fas fa-wrench"></i></button>
                    <div class="text-center position-relative">
                        <button type="button" (click)="seleccionarImagen()" class="btn btn-secondary btn_cambio_img">
                            <i class="far fa-image"></i>
                        </button>
                        <div class="img-container">
                            <img [src]="imagenSeleccionada" alt="img-avatar"
                                class="img-fluid img_user">
                            <h1 class="nombre_user">Lian Zi Salmeron Lopez</h1>
                        </div>
                    </div>
                </div>
            </div>

        </div>





        <!--
            <div class="perfil-usuario-portada">



                <div class="d-flex flex-wrap flex-column align-items-left justify-content-left">
                    <div class="flex-grow-1 d-flex align-items-center gap-2 perfil-usuario-avatar">
                      <img src="https://cdn-icons-png.flaticon.com/512/747/747376.png" alt="img-avatar">
                      <div class="datos-perfil">
                        <h4 class="titulo-usuario">Sofía Ferreiro</h4>
                      </div>
                      <button type="button" class="btn boton-avatar">
                        <i class="far fa-image"></i>
                      </button>
                    </div>
                  </div>


            </div>
            -->
    </div>

    <div class="perfil-usuario-body">
        <div class="perfil-usuario-bio">
            <form class="formulario">
                <p>Nombre de usuario</p>
                <div class="form-outline mb-3">
                    <input type="text" id="form2Example11" class="form-control" placeholder="nombre" />
                </div>

                <p>Correo electronico</p>
                <div class="form-outline mb-4">
                    <input type="email" id="form2Example22" class="form-control" placeholder="correo" />
                </div>

                <p>Contraseña</p>
                <div class="form-outline mb-4">
                    <input type="password" id="form2Example22" class="form-control" placeholder="contraseña" />
                </div>
            </form>
        </div>







    </div>
</section>
<section id="seccion-favoritas">
  <h3>Tus recetas favoritas</h3>
  <div class="div-contenido-recetas">
    <div class="scroll-contenido">
      <div class="card">
        <img class="card-img-top" src="https://images.pexels.com/photos/842571/pexels-photo-842571.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
        <div class="card-body">
          <a href="#"><h5 class="card-title stretched-link">Card title</h5></a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/imgs/pollo.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="assets/imgs/paella.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://images.pexels.com/photos/2097090/pexels-photo-2097090.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">

        <section class="mb-4">

            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fa-solid fa-envelope"></i></a>

            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-instagram"></i></a>

            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>
        </section>

    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="http://localhost:4200/">Eten.com</a>
    </div>

</footer>
