<body>

<div class="fondo-marmol" >
     
    <img src="assets/imgs/marmol.jpg"lt="" />
    <h1 class="single about text text-center">Sobre Nosotros </h1> 
   
</div>

<section id="abouts" class="abouts fondo-marmol">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="single_abouts_text text-center" data-wow-duration="1s">
            <img class="imgSobre" src="assets/imgs/SobreNosotros.png" alt="" />
          </div>
        </div>
          
        <div class="col-md-6">
            <div class="single_abouts_text" data-wow-duration="1s">
              <h4>ETEN por Loffel Softwares</h4>
              <p>Esta aplicación basada en algunas similares como HNGRY o Yummly, se ha hecho con el proposito de facilitar la vida a los usuarios a la hora de hacer tareas relacionadas con la cocina y la compra de alimentos</p>
              <p>Somos un grupo de estudiantes de ingeniería informática con muchas ganas de aprender y con una gran ilusión por ayudar a usuarios a que sus tareas diarias sean mucho más faciles aplicando la tecnológia.</p>
            </div>
          </div>
        </div>
        </div>
    </section>        
    
<div class="container-xxl py-5">
    <div class="container px-lg-5">
    <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
            
            <h2 class="mt-2">Conocenos</h2> 
    </div> 
    <div class="cartas-centradas">
        <div class="card-group" > 
        <div class="row">
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item">
                    <div class="d-flex justify-content-center">
                        <div class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5"
                            style="width: 75px;">
                        </div>
                        <img class="img-fluid rounded w-100" src="assets/imgs/Sergiu.jpg" alt="">
                    </div>
                    <div class="px-4 py-3">
                        <h5 class="single about text">Sergiu Valerian  <a class="btn btn-square" href=""><i
                            class="fab fa-github"></i></a>
                    <a class="btn btn-square" href=""><i
                            class="fab fa-linkedin-in"></i></a></h5>
                        <small>Descripción...</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-item">
                    <div class="d-flex justify-content-center">
                        <div class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5"
                            style="width: 75px;">
                            
                        </div>
                        <img class = "img-fluid rounded w-100"src="assets/imgs/Roberto.jpg" alt="">
                    </div>
                    <div class="px-4 py-3">
                        <h5 class="single about text">Roberto Echevarría  <a class="btn btn-square" href=""><i
                            class="fab fa-github"></i></a>
                    <a class="btn btn-square" href=""><i
                            class="fab fa-linkedin-in"></i></a></h5>
                        <small>Descripción...</small>
                    </div>
                </div>
                </div>
            </div>
        </div>
        </div>
    </div>
        <div class="cartas-centradas2">
        <div class="card-group" > 
        <div class="row">
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <div class="d-flex justify-content-center">
                        <div class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5"
                            style="width: 75px;">
                            
                        </div>
                        <img class="img-fluid rounded w-100" src="assets/imgs/Lian.jpg" alt="">
                    </div>
                    <div class="px-4 py-3">
                        <h5 class="single about text">Lian Salmerón  <a class="btn btn-square" href=""><i
                            class="fab fa-github"></i></a>
                    <a class="btn btn-square" href=""><i
                            class="fab fa-linkedin-in"></i></a></h5>
                        <small>Descripción...</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-item">
                    <div class="d-flex justify-content-center">
                        <div class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5"
                            style="width: 75px;">
                           
                        </div>
                        <img class="img-fluid rounded w-100" src="assets/imgs/Cris.jpg" alt="">
                    </div>
                    <div class="px-4 py-3">
                        <h5 class="single about text">Ruoyan Zhang  <a class="btn btn-square" href=""><i
                            class="fab fa-github"></i></a>
                    <a class="btn btn-square" href=""><i
                            class="fab fa-linkedin-in"></i></a></h5>
                        <small>Descripción...</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.6s">
                <div class="team-item">
                    <div class="d-flex justify-content-center">
                        <div class="flex-shrink-0 d-flex flex-column align-items-center mt-4 pt-5"
                            style="width: 75px;">
                           
                        </div>
                        <img class="img-fluid rounded w-100" src="assets/imgs/Rubén.jpg" alt="">
                    </div>
                    <div class="px-4 py-3">
                        <h5 class="single about text">Rubén Martinez  <a class="btn btn-square" href=""><i
                            class="fab fa-github"></i></a>
                    <a class="btn btn-square" href=""><i
                            class="fab fa-linkedin-in"></i></a></h5>
                        <small>Descripción...</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
</body>