$logo-ETEN-naranja: #F05A21;
$naranja-intermedio: #EC6433;
$naranja-claro: #F37A44;
$azul-oscuro: #155386;
$azul-claro: #0086AA;
$color-crema: #E9DFCB;

/*
.fondo_img {
    background-image: url("/assets/imgs/fondo_img_info_receta2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 1000px;
}

*/


#tabs {
    background-color: $azul-oscuro;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    padding-top: 20%;
}

#tabs .container {
    box-shadow: 2px 2px 2px 2px black;
    background-color: #ffffff;
}


#tabs .titulo-funcionalidades {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    padding: 25px 0;
}

#tabs h6.titulo-funcionalidades {
    color: $logo-ETEN-naranja;
    font-family: 'Pacifico', cursive;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: $color-crema;
    background-color: transparent;
    border-color: transparent transparent #000000;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}

#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: $logo-ETEN-naranja;
    font-size: 20px;
}

.tab-content {
    margin-top: 10px;
    background-image: url('/assets/imgs/footer-ETEN.png');
    background-repeat: no-repeat;
    background-size: cover;

}

.tab-pane {
    margin: 25px 50px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px $logo-ETEN-naranja;

    height: 600px;

    overflow: auto;

}



/*Navegador*/


.buscador_div {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
    padding: 10px;
    width: 100%;
}


.table {
    width: 100%;
}

.table th,
.table td {
    text-align: center;
}

.table thead th {
    position: sticky;
    top: 65px;
    z-index: 1;
    background-color: $naranja-claro;
    color: #fff;
}
  


@media (max-width: 575px) {
    .table thead th {
        position: sticky;
        top: 155px;
        z-index: 1;
    }
}

@media (max-width: 353px) {
    .table thead th {
        position: sticky;
        top: 190px;
        z-index: 1;
    }
}